input {
    twitter {
        # add your data
        consumer_key => "LXigtID0j2zI4e8B8ZVDigLo9"
        consumer_secret => "7i24vfy5FVZxfq0bqxnjUMqwstOHi37GqNlxZK5RXDESRW2tdb"
        oauth_token => "3802591333-DOb1COgnH0XkFPhZEX3UIm7VOVWIzjzAwWlDtNY"
        oauth_token_secret => "wUcONiXzrenx9Delb6IbMCPJlx96d9c5j9MTmi3iUjr2s "
        keywords => ["obiee","oracle"]
        follows => ["3802591333"]
        full_tweet => true
    }
}
output {
    elasticsearch {
        hosts => "localhost:9200"
        index => "idx_ls"
        document_type => "tweet_ls"
    }
}
